*{
padding: 0;
margin: 0;
}
html{
font-size: 62.5%;
}
.container{
max-width: 1440px;
margin: 0 auto;
width: 90%;
}

/* font  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-all{
  font-family: "Work Sans", sans-serif;
}

/* nabvar  */
.header{
    background: rgba(255, 144, 14, 0.1);
}

/* navbar */
.nabvar-section{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-top: 3rem;
}
.nav-items{
    display: flex;
    list-style: none;
}
.item{
    margin-right: 3rem;
}
.nav-items a{
text-decoration: none;
color: rgba(66, 66, 66, 1);
font-size: 1.13rem;
font-weight: 500;
line-height: 1.63rem;
letter-spacing: 0%;
}
/* banner-section */

.banner-section{
text-align: center;
margin-top: 3rem;
}
.banner-heading{
color:rgba(19, 19, 19, 1);
font-size: 4rem;
font-weight: 700;
line-height: 4.69rem;
margin-bottom: 2rem;
}
.banner-description{
color:rgba(114, 114, 114, 1);
font-size: 1rem;
font-weight: 400;
line-height: 1.63rem;
margin-bottom: 2rem;
}
.common-btn{
    display: inline-block;
    width: 11.25rem;
    padding: 1.3rem 1.4rem;
    border-radius:5px;
    background: #FF900E;
    color: white;
    border: none;
    margin-bottom: 2.8rem;
}
.banner-section img{
    width: 100%;
    margin-bottom: 2rem;
}

/* main section card */
.card-container{
    display: flex;
    align-items: center;
    gap: 73px;
    flex: 1;
    margin-top: 5.3rem;
}
.card-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.8rem;
}
.quick{
    color: #727272;
}
.orange{
    color: #FF900E;
}
@media screen and (max-width: 768px) {
    .nav-heading{
        margin-bottom: 0;
    }
    .item{
        margin-right: 1rem;
 
    }
    .card-container{
        flex-direction: column;
    }
    .card-section{
        grid-template-columns: repeat(1,1fr);
    }
    .card-description{
        text-align: center;
        
    }
    .nav-heading{
        margin-bottom: 2rem;
    }
}

    /* feature section  */
.left-side{
    max-width: 570px;
    margin-top: 4rem;
}
.feature-heading{
color:rgba(19, 19, 19, 1);
font-size: 2.81rem;
font-weight: 700;
line-height: 3.31rem;
margin-bottom: 1.4rem;
}
.feature-description{
color:rgba(114, 114, 114, 1);
font-size: 1rem;
font-weight: 400;
line-height: 1.63rem;  
margin-bottom: 2rem;
}

.feature-card{
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
background: rgba(255, 255, 255, 1);
max-width:36.63rem;;
padding: 2rem 1.8rem;
border-radius: .8rem;
}
.feature-card-p .feature-card{
margin-bottom: 2rem;
}
.f-card-heading{
color: rgba(19, 19, 19, 1);
font-size: 1.25rem;
font-weight: 600;
line-height: 1.44rem;
margin-bottom: .8rem;
}

.f-card-description{
color:rgba(114, 114, 114, 1);
font-size: 1rem;
font-weight: 400;
line-height: 1.63rem;
}

.Features-parents{
    display: flex;
    margin-top: 10rem;
    gap: 2rem;
   
}
.right-side IMG{
    max-width: 708px;
    width:80%;
}
.COLOR{
width: 15%;  
border-radius: 0.4rem;
background: rgba(255, 144, 14, 1);   
padding: 2rem 3rem;
text-align: center;
position: relative;
bottom: 8%;
right: 5%;;

}

.color-h{
color: #FFFFFF; 
font-size: 3rem;  
font-weight: bold;
}
.color-p{
color: #FFFFFF; 
font-size: 1rem;
font-weight: 400;    
}

@media screen and (max-width: 768px) {
.Features-parents{ flex-direction: column;
}
.COLOR{
width: 50%; 
padding: 1rem 1rem;
margin-left: 10rem;
margin-top: 2rem;
}
.right-side IMG{
    width: 100%;
}
}

/* facts area  */

.facts-h{
color:rgba(19, 19, 19, 1);
font-size: 2.81rem;
font-weight: 700;
line-height: 3.31rem;
}
.facts-d{
color: rgba(114, 114, 114, 1);
font-size: 1rem;
font-weight: 400;
line-height: 1.63rem;   
}
.facts-card{
    display: flex;
    gap: 10rem;
    justify-content: center;
    margin-right: 25rem;
}
.facts-card .fact-card{
  
}
.fact-card{
    border: 1px solid #FF900E;;
    border-radius: 0.5rem;
    text-align: center;
    padding: 1rem 3rem;
    margin-top: 2rem;
   
}

.Awards{
    font-size: 2rem;
    font-weight: 600;;
    margin-top: 0.8rem;
}
.award{
color: #727272;    
font-size: 1rem;
font-weight: 400;
margin-top: 0.8rem;
}

@media screen and (max-width: 768px) {
    .facts-card{
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-right: 0;
        gap: 1rem;
    }
    .facts-container{
        margin-top: 3rem;
        text-align: center;
    }
}

/* sponspors  */
.sponspors{
    text-align: center;
    margin-top: 10rem;
}
.sponspors-h{
color:rgba(19, 19, 19, 1);
font-size: 2.81rem;
font-weight: 700;
line-height: 3.31rem;  
margin-bottom: 1rem;  
}
.sponspors-d{
color: rgba(114, 114, 114, 1);
font-size: 1rem;
font-weight: 400;
line-height: 1.63rem;  
margin-bottom: 1rem;  
}
.sponspor{
     filter: grayscale(100%);
     margin-top: 4rem;
     display: flex;
} 
.sponspor img{
    margin-right: 10rem;
    width: 50%;
}

    @media screen and (max-width: 768px) {
        .sponspor{
            flex-direction: column;
           align-items: center;
           margin-left: 10rem; 
        }
      .sponspor img {
        margin-bottom: 3rem;
      }
    }

    /* footer section  */
    .footer{
border-radius: 0.4rem;
background: rgba(255, 244, 231, 1);
text-align: center;
margin-top: 5rem;
margin-bottom: 5rem;
padding: 2rem 0;
    }
.footer p{
color:rgba(66, 66, 66, 1);
font-size: 1.25rem;
font-weight: 400;
line-height: 1.44rem;
    }