*{
padding: 0;
margin: 0;
}
html{
font-size: 62.5%;
}
.container{
max-width: 1440px;
margin: 0 auto;
width: 90%;
}

/* font  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* nabvar  */
.header{
    background: rgba(255, 144, 14, 0.1);
}

/* navbar */
.nabvar-section{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-top: 3rem;
}
.nav-items{
    display: flex;
    list-style: none;
}
.item{
    margin-right: 3rem;
}
.nav-items a{
text-decoration: none;
color: rgba(66, 66, 66, 1);
font-size: 1.13rem;
font-weight: 500;
line-height: 1.63rem;
letter-spacing: 0%;
}
/* banner-section */

.banner-section{
text-align: center;
margin-top: 3rem;
}
.banner-heading{
color:rgba(19, 19, 19, 1);
font-size: 4rem;
font-weight: 700;
line-height: 4.69rem;
margin-bottom: 2rem;
}
.banner-description{
color:rgba(114, 114, 114, 1);
font-size: 1rem;
font-weight: 400;
line-height: 1.63rem;
margin-bottom: 2rem;
}
.common-btn{
    display: inline-block;
    width: 11.25rem;
    padding: 1.3rem 1.4rem;
    border-radius:5px;
    background: #FF900E;
    color: white;
    border: none;
    margin-bottom: 2.8rem;
}
.banner-section img{
    width: 100%;
    margin-bottom: 2rem;
}
